<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Books and Authors</title>
</head>

<body>
    {% load static %}
    <div class="container">
        <h1>{{author.first_name}} {{author.last_name}}</h1>
        <h3>ID:{{author.id}}</h3>  
        <p>Notes</p>
        <p>{{author.notes}}</p>    
        <p>Books</p>  
        {% for a in author.books.all %}
        <ul>
            <li>{{a.title}}</li>
        </ul>                                               
        {% endfor %}
        <form action="/newbook" method="POST">
            {%csrf_token%}
            <select name="bookid" class="form-select w-25" aria-label="Default select example">
            <option selected vale="">- select a book -</option>
            {% for b in allbooks %}
                {% comment %} {%if not b in allbooks%}  {% endcomment %}
                    <option value="{{b.id}}">{{b.title}}</option>
                {% comment %} {%endif%} {% endcomment %}
            {% endfor %}        
            </select>
            <input id="" type="hidden" name="authorid" value="{{author.id}}"></input>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
</body>

</html>